body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #9932cc;
    text-align: center;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #fff;
    font-size: 36px;
    margin: 0 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.greeting {
    text-align: center;
    margin-top: 50px;
}

footer {
    background-color: #9932cc;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #fff;
    font-size: 14px;
}
head {
    width: 1600px;
    height: 720px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .container {
    width: 9=100%; /* Занимает 90% ширины родительского элемента */
  }
    /* Общие стили, применимые ко всем разрешениям экранов */

/* Стили для маленьких экранов (мобильных устройств) */
@media only screen and (max-width: 768px) {
    /* Дополнительные стили для маленьких экранов */
  }
  
  /* Стили для средних экранов (планшетов) */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Дополнительные стили для средних экранов */
  }
  
  /* Стили для больших экранов (настольных компьютеров) */
  @media only screen and (min-width: 1025px) {
    /* Дополнительные стили для больших экранов */
  }